.aboutWrapper {
  height: 100%;
  animation: fadeIn 0.3s;
  padding: 0 2rem;
  color: #ffffff;
  .name {
    padding-top: 2rem;
    font-size: 2rem;
    font-weight: 600;
  }
  .id {
    margin: 1rem 0;
    font-size: 1.2rem;
  }
}